.cover-top {
    @include flexSetUp;
}

.transparent-mid {
    width: 100vw;
    height: 33vh;
    background-color: $opacity-white;
    color: $primary-blue;
    position: absolute;
    @include flexSetUp;
    flex-direction: column;
}

.blog-cover {
    width: 100vw;
    overflow-x: hidden;
}

.blog-cover-title, .blog-subtitle {
    margin-bottom: 20px;
}

.blog-cover-title {
    word-wrap: break-word;
    width: 700px;
    text-align: center;
}

.blog-readmore {
    text-decoration: underline;
    letter-spacing: 1.8px;
    cursor: pointer;
}

.blog-nav {
    @include flexSetUp;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0 2.5px 2px -2.5px gray;
}

.btn-nav {
    @include flexSetUp;
    margin: 0px 25px;
}

.filter-btn {
    @include flexSetUp;
    @include filterBTN;
    margin-right: 15px;
}

.filter-btn:hover {
    background-color: $text-dark;
    color: $white;
}

input[type=text] {
    width: 33vw;
    height: 53px;
    color: $white;
    background-color: $primary-blue;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    @include header5SetUp;
    margin: 8px 25px;
}

input::placeholder {
    color: $white;
}

.blog-current {
   @include flexSetUp;
   flex-direction: column;
   margin: 60px;
}

.blog-featured, .blog-box {
    position: relative;
    cursor: pointer;
}

.blog-featured-top {
    width: 940px;
    height: 424px;
}

.article-section-box {
    @include flexSetUp;
    justify-content: flex-start;
    width: 940px;
    margin-bottom: 20px;
    margin-top: -40px;
}

.article-section-header {
    font-size: 38px;
    color: $primary-blue;
}

.blog-latest {
    @include flexSetUp;
}

.blog-new {
    width: 300px;
    height: 424px;
    margin: 10px;
}

.blog-text {
    width: 100%;
    height: 100%;
    color: $white;
    position: absolute;
    @include flexSetUp;
    flex-direction: column;
    text-transform: uppercase;
}

.blog-title-text {
    font-size: 52px;
    letter-spacing: 2.36px;
}

.smallerblog-title {
    font-size: 38px;
    letter-spacing: 1.73px;
    word-wrap: break-word;
    width: 300px;
    text-align: center;
}

.blog-author, .blog-date {
    letter-spacing: 0.68px;
    font-size: 15px;
    margin: 5px 0px;
}

.followus-container, .readmore-container {
    @include flexSetUp;
    background-color: $filter-bg;
    height: 125px;
}

.followus-box, .sm-btn-twitter, .sm-btn-linkedin, .readmore-button {
    @include flexSetUp;
}

.sm-btn-twitter, .sm-btn-linkedin {
    width: 221px;
    height: 43px;
    border-radius: 5px;
    color: $white;
}

.sm-btn-twitter {
    background-color: $fourth-blue;
    margin-right: 25px;
}

.sm-btn-linkedin{
    background-color: $secondary-blue;
}

.sm-btn-twitter:hover {
    background-color: $secondary-blue;
    margin-right: 25px;
}

.sm-btn-linkedin:hover {
    background-color: $fourth-blue;
}

.whitebreak {
    height: 43px;
    width: 2px;
    background-color: $white;
    margin: 0px 10px;
}

.twitter-follow {
    margin-left: -10px;
}

.readmore-container {
    border-top: 1px solid $primary-blue;
}

.readmore-button {
    background-color: $primary-blue;
    width: 936px;
    height: 46px;
    border-radius: 5px;
    padding-bottom: 2px;
    cursor: pointer;
}

.readmore-button:hover {
    background-color: $fourth-blue;
}

.readmore-button-header {
    text-decoration: underline;
    color: $white;
}

.sm-alinks {
    color: $white;
}

.blog-box:hover {
    box-shadow: 0 7px 24px 0 rgba(0,0,0,.25), 0 5px 5px 0 rgba(0,0,0,.26);
    width: 320px;
    height: 444px;
}

.blog-cover-mobile {
    display: none;
}

// ipad responsive 

@media only screen and (min-width : 766px) and (max-width : 1020px) {

    .btn-nav {
        margin: 10;
    }

    .blog-nav {
        justify-content: flex-start;
    }

    input[type=text] {
        width: 20vw;
        margin: 0;
    }

    .search-input {
        margin-right: 20px;
    }

    .article-section-box {
        width: 100vw;
        margin: 30px;
    }

    .article-section-header {
        margin: 0 auto;
    }

    .blog-latest {
        width: 100vw;
    }

    .blog-new {
       width: 30vw;
       margin: 10;
    }

    .readmore-button {
        width: 85vw;
    }
}


// mobile responsive 

@media screen and (max-width: 765px){
    .blog-cover-mobile {
        display: block;
        width: 100vw;
    }

    .blog-cover {
        display: none;
    }

    .blog-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
    }

    .blog-main {
        display: flex;
        flex-direction: column;
    }

    .transparent-mid {
        width: 100vw;
        background-color: $primary-blue;
        position: static;
        height: 500px;
        margin-top: -10px;
    }

    .blog-cover-title {
        color: $white;
        z-index: 20;
        word-wrap: break-word;
        width: 90vw;
    }

    .blog-subtitle {
        color: $white;
        z-index: 20;
    }

    .blog-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 250px;
        width: 100vw;
        margin: 10px 0px;
    }

    .btn-nav {
        margin: 0;
        width: 100vw;
        flex-wrap: wrap;
    }

    .filter-btn {
        width: 25vw;
        margin: 10px;
    }

    input[type=text] {
        width: 85vw;
    }

    .article-section-box {
        width: 100vw;
        margin: 30px;
    }

    .article-section-header {
        margin: 0 auto;
    }

    .blog-latest {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
        height: 1320px;
        margin: 20px 0px;
    }

    .blog-current {
        margin: 0;
    }

    .followus-container {
        height: 200px;
    }

    .followus-box {
        flex-wrap: wrap;
    }

    .sm-btn-twitter, .sm-btn-twitter:hover, .sm-btn-linkedin, .sm-btn-linkedin:hover {
        margin: 10px;
    }

    .readmore-button {
        width: 85vw;
    }

}