.header-home {
    z-index: 10;
    overflow-x: hidden;
}

.header-nav {
    @include flexSetUp;
}

.logo {
    width: 28vw;
    margin: 30px;
}

.nav-links {
    background-color: $primary-blue;
    width: 70vw;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
    @include header6SetUp;    
    margin-right: -27px;
}

.nav-hover:hover {
    line-height: 1.5; 
    border-bottom: 1.5px solid $white;
}

ul {
    display: flex;
    align-items: center;    
}

li {
    margin-right: 50px;
}

.white-btn {
    background-color: $white;
    height: 35px;
    width: 110px;
    color: $primary-blue;
    border-radius: 6px;
    font-family: $btn-font;   
    @include flexSetUp; 
}

.white-btn:hover {
    background-color: $secondary-blue;
    color: $white;
}

.sub-header {
    margin-bottom: 25px;
}

.nav-sublinks {
    display: flex;
    justify-content: flex-end;
    color: $primary-blue;
    font-size: 16px;
    font-family: $btn-font;
}

.nav-links a {
    color: $white;
}

.nav-sublinks a {
    color: $primary-blue;
    margin: -10px 5px 0px 0px;
}

.sub {
    margin-left: -12px;
}