.customer-testimony {
    width: 55vw;
    height: 465px;
}

.customer-lightblue2 {
    background-color: $secondary-blue;
    color: $white;
    text-align: center;
    width: 45vw;
    height: 465px;
    @include flexSetUp;
    flex-direction: column;
}

.transparent-stocker2 {
    width: 50vw;
    height: 100%;
    color: $primary-blue;
    position: absolute;
    @include flexSetUp;
    flex-direction: column;
    text-align: left;
}

.transparent-left-text2 {
    flex-direction: column;
    letter-spacing: 0.3px;
    word-wrap: break-word;
    width: 40vw;
}

.transparent-left-subtext2 {
    letter-spacing: 1.8px;
    margin-bottom: 30px;
    word-wrap: break-word;
    width: 40vw;
}

.comp-para {
    color: $primary-blue;
    word-wrap: break-word;
    width: 40vw;
    margin-bottom: 20px;
}

.dms-text {
    @include flexSetUp;
    flex-direction: column;
    margin: 70px;
}

.dms-para {
    font-size: 25px;
    color: $primary-blue;
    text-align: center;
}

.dairy-cover-mobile {
    display: none;
}

// ipad responsive 

@media only screen and (min-width : 766px) and (max-width : 1024px) {

}

// mobile responsive 

@media screen and (max-width: 765px){

    .dairy-cover-mobile {
        display: block;
        width: 100vw;
    }

    .stocker-cover {
        display: none;
    }

    .dairy-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
    }

    .dairy-main {
        display: flex;
        flex-direction: column;
    }

    .transparent-stocker {
        width: 100vw;
        background-color: $primary-blue;
        position: static;
        height: 500px;
        margin-top: -10px;
    }




}