.contact-main {
    display: flex;
    flex-direction: row;
    grid-area: contact-main;
}

.contact-container {
    height: 950px;
    width: 100vw;
}

.contact-form {
    margin-left: 60px;
    background-color: $white;
    position: absolute;
    z-index: 10;
}

.contact-spacing {
    margin: 15px 0px;
    word-wrap: break-word;
    width: 44vw;
}

.contact-photo  {
    position: relative;
    height: 950px;
    width: 100vw;
    z-index: 5;
}

.input-one, .input-two, .input-three, .input-four, {
    margin: 7px 0px 25px 0px;    
    // border: 1px solid transparent;
    // // border-top: none;
    border: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.radio-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40vw;
    margin: 15px 0px 25px 0px;    
}

.radio-box {
    display: flex;
}

.radio-option {
    margin-left: 8px
}

.input-one {
    width: 43vw;
    height: 25px;
}

.input-three {
    width: 6vw;
    height: 25px;
    margin-right: 25px;    
}

.input-four {
    width: 43vw;
    height: 100px;
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}

.contact-banner {
    background-color: $primary-blue;
    color: $white;    
    width: 100vw;
    height: 347px;
    @include flexSetUp;
    grid-area: contact-banner;
}

.contact-line {
    background-color: $white;
    width: 1px;
    height: 150px;
    margin: 50px;
}

.contact-icons {
    display: flex;
    flex-direction: column;
}

.contact-icon {
    width: 25px;
    margin: 10px;
}

.contact-subheader {
    margin: 15px 0px 15px 35px;
}

.address {
    word-wrap: break-word;
    width: 300px;
    margin-bottom: -15px;
}

.submit-btn {
    @include mainCTA;
    font-size: 26px;
    height: 39px;
    width: 212px;
    margin-bottom: 50px;
    padding-bottom: 4px;
    opacity: 1.0;
}

.submit-btn:hover {
    background-color: $fourth-blue;
    opacity: 1.0;
}

.contact-alink {
    color: $third-blue;
}

.contact-alink-white {
    color: $white;
}

.contact-mobile-box {
    @include flexSetUp;
}


// ipad responsive 
@media only screen and (min-width : 766px) and (max-width : 1024px) {

    .contact-photo {
        display: none;
    }

    .contact-container-wrapper {
        overflow: hidden;
    }

    .contact-main {
        margin: 30px 0px 300px 0px;
        width: 100vw;
    }

    .contact-spacing {
        width: 80vw;
    }

    .input-one, .input-two, .input-three {
        height: 35px;
        font-size: 15px;
    }

    .input-one {
        width: 70vw;
    }

    .input-three {
        width: 14.5vw;
    }

    .input-four {
        width: 70vw;
        height: 200px;
        font-size: 15px;
    }

    .radio-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .radio-box {
        margin: 10px 0px;
    }

    .contact-line {
        margin: 0px 25px;
    }
}



// mobile responsive 

@media screen and (max-width: 765px){
    .contact-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "mobile-header-container"
        "contact-main"
        "contact-banner"
        "footer-nav";
    }

    .contact-photo {
        display: none;
    }

    .contact-main {
        margin-top: 100px;
        margin-bottom: 420px;
        overflow-x: hidden;
        width: 100vw;
    }

    .contact-spacing {
        width: 60vw;
    }

    .input-one, .input-two, .input-three {
        height: 35px;
        font-size: 15px;
    }

    .input-one {
        width: 65vw;
    }

    .input-three {
        width: 14.5vw;
    }

    .input-four {
        width: 65vw;
        height: 200px;
        font-size: 15px;
    }

    .radio-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .radio-box {
        margin: 10px 0px;
    }

    .contact-banner {
        display: flex;
        flex-direction: column;
    }

    .contact-line {
        width: 80vw;
        height: 2px;
        margin: 20px 0px 10px 0px;
    }

    .contact-mobile-box {
        display: flex;
        width: 80vw;
    }

    .contact-alink-white, .address {
        font-size: 15px;
        word-wrap: break-word;
        width: 50vw;
    }

    .contact-icons {
        margin-top: 20px;
    }

    .contact-subheader {
        margin-top: 0px;
    }

    .submit-btn {
        width: 70vw;
    }
        



}