.stocker-top {
    display: flex;
    align-items: center;
}

.transparent-stocker {
    width: 50vw;
    color: $primary-blue;
    position: absolute;
    @include flexSetUp;
    flex-direction: column;
    text-align: center;
}

.stocker-cover {
    width: 100vw;
    overflow-x: hidden;
}

.stocker-cover-title-main {
    font-size: 34px;
    font-weight: bold;
    margin: 30px 0px;
    letter-spacing: 1.55px;
}

.stocker-cover-title {
    font-size: 34px;
    font-weight: bold;
    margin: 30px 0px;
}

.stocker-para {
    margin: 10px 50px;
}

.stocker-watch-video {
    @include watchVIDEO;
    background-color: $opacity-second;
    color: $white;
    margin-top: 40px;
}

.stocker-watch-video:hover {
    background-color: $opacity-dark;
}

.stocker-section {
    @include flexSetUp;
    background-color: $primary-blue;
    color: $white;
    width: 100vw;
    height: 504px;
}

.stocker-section-white {
    @include flexSetUp;
    margin: auto;
    background-color: $white;
    color: $primary-blue;
    width: 100vw;
    height: 600px;
    justify-content: space-around;
}

.stocker-section-white-wider {
    @include flexSetUp;
    background-color: $white;
    color: $primary-blue;
    width: 100vw;
    height: 675px;
    justify-content: space-around;
    margin-top: 30px;
}

.stocker-paragraph {
    word-wrap: break-word;
    width: 40vw;
}

.stocker-paragraph-three {
    word-wrap: break-word;
    width: 40vw;
    margin-bottom: 40px;
}

.stocker-paragraph-two {
    word-wrap: break-word;
    width: 40vw;
    margin-bottom: 25px;
}

.stocker-paragraph-two2 {
    word-wrap: break-word;
    width: 40vw;
    margin-bottom: 25px;
}

.stocker-header {
    margin-bottom: 30px;
}

.stocker-header-break {
    margin-bottom: 30px;
    word-wrap: break-word;
    width: 40vw;
}

.stocker-capture-left {
    max-width: 43vw;
}

.stocker-capture-left2 {
    max-width: 50vw;
}

.stocker-subheader {
    margin-bottom: 10px;
}

.stocker-subheader2 {
    margin-bottom: 10px;
}

.stocker-capture {
    margin-left: 30px;
    width: 45vw;
}

.line-stocker-box {
    width: 100vw;
    height: 3px;
    background-color: $primary-blue;

}

.line-stocker {
    width: 90vw;
    height: 1px;
    background-color: $white;
}

.line-stocker-box-white {
    width: 100vw;
    height: 3px;
    background-color: $white;

}

.line-stocker-white {
    width: 90vw;
    height: 1px;
    background-color: #979797;
}

.stocker-text {
    margin: 75px;
    @include flexSetUp;
    flex-direction: column;
}

.stocker-nav-header {
    margin-bottom: 15px;
    margin-left: -879px;
    color: $primary-blue;
}

.stocker-nav-header2 {
    margin-bottom: 15px;
    margin-left: -860px;
    color: $primary-blue;
}

.stocker-nav-header3 {
    margin-bottom: 15px;
    margin-left: -894px;
    color: $primary-blue;
}

.stocker-nav-para {
    word-wrap: break-word;
    width: 960px;
    margin-bottom: 15px;
    color: $text-dark;
}

.stocker-nav-container {
    display: flex;
    margin-top: -5px;
}

.stocker-nav-box {
    @include flexSetUp;
    @include header6SetUp;
    letter-spacing: 0.91px;
    color: $primary-blue;
    background-color: $bg-light;
    width: calc(100vw / 3);
    height: 60px;
    cursor: pointer;
}

.stocker-nav-box-active {
    @include flexSetUp;
    @include header6SetUp;
    letter-spacing: 0.91px;
    color: $white;
    background-color: $secondary-blue;
    width: calc(100vw / 3);
    height: 60px;
    cursor: pointer;
}

.graytext {
    color: $text-dark;
}

.individualtext {
    word-wrap: break-word;
    width: 28vw;
    margin-left: -50px;
}

.watch-video-stocker-footer {
    height: 120px;
    width: 100vw;
    color: $white;
    background-color: $secondary-blue;
    @include flexSetUp;
    justify-content: flex-end;
}

.stocker-contact-line {
    background-color: $primary-blue;
    width: 1px;
    height: 60px;
    margin: 0px 25px;
}

.stocker-video-box {
    @include watchVIDEO;
    color: $white;
    background-color: $primary-blue;
    width: 220px;
    margin: 0px 75px;
}

.stocker-video-box:hover {
    color: $white;
    background-color: $fourth-blue;
}

.stocker-footer-text {
    font-size: 16px;
}

.stocker-email {
    color: $secondary-blue;
    margin-left: 5px;
}

.stocker-cover-mobile {
    display: none;
}




// ipad responsive 

@media only screen and (min-width : 766px) and (max-width : 1024px) {

    .stocker-cover-mobile {
        display: block;
        width: 100vw;
    }

    .stocker-cover {
        display: none;
    }

    .stocker-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
    }

    .stocker-main {
        display: flex;
        flex-direction: column;
    }

    .transparent-stocker {
        width: 100vw;
        background-color: $primary-blue;
        position: static;
        height: 500px;
        margin-top: -10px;
    }

    .stocker-cover-title-main {
        color: $white;
        z-index: 20;
    }

    .stocker-para {
        color: $white;
        z-index: 20;
        margin-top: -40px;
    }
    
    .stocker-text {
        height: 450px;
        width: 100vw;
        justify-content: flex-start;
        margin-top: 100px;
    }

    .stocker-nav-para {
        word-wrap: break-word;
        width: 80vw;
        margin-right: 150px;
    }

    .stocker-nav-header, .stocker-nav-header2, .stocker-nav-header3 {
        word-wrap: break-word;
        width: 80vw;
        margin-left: -150px;
    }

    .stocker-section, .stocker-section-white {
        @include flexSetUp;
        flex-direction: column;
        height: 1100px;
    }

    .stocker-section-white-wider {
        @include flexSetUp;
        flex-direction: column;
        height: 1350px;
    }

    .stocker-subheader, .stocker-paragraph, .stocker-capture, .stocker-paragraph-two, .stocker-paragraph-three, .stocker-capture-left, .stocker-capture-left2, .stocker-header-break, .stocker-header, .graytext {
        width: 85vw;
        max-width: 85vw;
        margin: 20px 0px;
    }

    .watch-video-stocker-footer {
        @include flexSetUp;
        flex-direction: column;
        height: 300px;
    }

    .stocker-contact-line {
        display: none;
    }

    .stocker-footer-text {
        text-align: center;
        margin-bottom: 5px;
    }

    .stocker-footer-text {
        text-align: center;
        font-size: 31px;
        letter-spacing: 2px;
        line-height: 1.3;
        word-wrap: break-word;
        width: 65vw;
    }

    .stocker-video-box {
        margin-top: 20px;
        width: 85vw;
    }
    
}


// mobile responsive 

@media screen and (max-width: 765px){
    .stocker-cover-mobile {
        display: block;
        width: 100vw;
    }

    .stocker-cover {
        display: none;
    }

    .stocker-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
    }

    .stocker-main {
        display: flex;
        flex-direction: column;
    }

    .transparent-stocker {
        width: 100vw;
        background-color: $primary-blue;
        position: static;
        height: 500px;
        margin-top: -10px;
    }

    .stocker-cover-title-main {
        color: $white;
        z-index: 20;
    }

    .stocker-para {
        color: $white;
        z-index: 20;
        margin-top: -40px;
    }
    
    .stocker-text {
        height: 450px;
        width: 100vw;
        justify-content: flex-start;
        margin-top: 35px;
    }

    .stocker-nav-para {
        word-wrap: break-word;
        width: 80vw;
        margin-right: 150px;
    }

    .stocker-nav-header, .stocker-nav-header2, .stocker-nav-header3 {
        word-wrap: break-word;
        width: 80vw;
        margin-left: -150px;
    }

    .stocker-section, .stocker-section-white {
        @include flexSetUp;
        flex-direction: column;
        height: 700px;
    }

    .stocker-section-white-wider {
        @include flexSetUp;
        flex-direction: column;
        height: 800px;
    }

    .stocker-subheader, .stocker-paragraph, .stocker-capture, .stocker-paragraph-two, .stocker-paragraph-three, .stocker-capture-left, .stocker-capture-left2, .stocker-header-break, .stocker-header, .graytext {
        width: 85vw;
        max-width: 85vw;
        margin: 20px 0px;
    }

    .watch-video-stocker-footer {
        @include flexSetUp;
        flex-direction: column;
        height: 300px;
    }

    .stocker-contact-line {
        display: none;
    }

    .stocker-footer-text {
        text-align: center;
        font-size: 31px;
        letter-spacing: 2px;
        line-height: 1.3;
        word-wrap: break-word;
        width: 65vw;
    }

    .stocker-video-box {
        margin-top: 20px;
        width: 85vw;
    }

    

}