.history-box {
    @include flexSetUp;
}

.about-cover {
    @include flexSetUp;   
    height: 80vh;
    width: 100vw;
    background-image: url('../assets/Pics/Cowboy_Cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bluebanner-box {
    background-color: $primary-blue;
    height: 327px;
    color: $white;
    @include bodySetUp;
}

.about {
    justify-content: flex-start;
}

.bannerabout {
    word-wrap: break-word;
    width: 220px;
}

.bluebanner-header {
    color: $text-gray;
}

.left {
    margin-left: 100px;  
}

.bluebanner-column {
    background-color: $primary-blue;
    height: 327px;
    color: $white;
    @include bodySetUp;
    text-transform: uppercase;
}

.lead {
    word-wrap: break-word;
    width: 800px;
}

.columnbanner {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.team-container {
    @include flexSetUp;
    margin: 75px 0px;
}

.team-text {
    word-wrap: break-word;
    width: 490px;
    margin-bottom: 45px;
}

.execs-container {
    margin-top: -20px;
}

.president {
    display: flex;
    margin: 30px 0px 10px 0px;
}

.pres-name {
    font-size: 35px;
}

.pres-title {
    font-size: 26px;
    margin: 10px 0px 0px 10px;
}

.executives {
    display: flex;
}

.execs-box {
    margin-bottom: 20px;
}

.execs-name {
    font-size: 26px;
}

.execs-title {
    font-size: 15px;
    margin: 12px 0px 0px 10px;
}

.email-information {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.company-information {
    display: flex;
    align-items: center;
    margin: 5px 0px 10px 0px;
}

.email-tiny {
    width: 20px;
}

.email-tiny-text {
    margin-left: 20px;
}

.email-tiny-text-exec {
    margin-left: 15px;
    font-size: 10px;
    color: $circle-gray;
}

.team-line {
    background-color: $secondary-blue;
    width: 1px;
    height: 375px;
    margin: 0px 60px;
}

.res-align {
    display: flex;
}

.responsibility-container {
    @include flexSetUp;
}

.responsibility-box {
    word-wrap: break-word;
    width: 45vw;
}

.res-text-left {
    margin-right: 40px;
}

.responsibility-header {
    margin: 80px 0px 25px 0px;
}

.facts-box {
    background-color: $secondary-blue;
    color: $white;
    width: 45vw;;
    height: 400px;
    text-align: center;
    margin: 80px 1.5px 25px 0px;
    z-index: -1;
}

.facts-header {
    margin: 30px 0px;
}

.cowpen-box {
    @include flexSetUp;
}

.cowpen-image {
    width: 90vw;
    margin-top: -100px;
}

.map-container {
    @include flexSetUp;
}

.map-box {
    width: 90vw;
    margin-bottom: 50px;
}

.reach {
    margin: 25px 0px 25px 0px;
}

.map {
    width: 60vw;
    display: flex;
    margin: auto;    
}

.partnership-logos {
    display: flex;
    margin-left: 100px;      
}

.part-icon {
    height: 50px;
    margin: 10px 75px 0px 0px; 
}

.gray-footer {
    height: 129px;
    background-color: $bg-light;
    color: $primary-blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pres-alinks {
    color: $primary-blue;
}

.leadership-alinks {
    color: $text-dark;
}

.about-cover-mobile {
    display: none;
}

// ipad responsive 

@media only screen and (min-width : 766px) and (max-width : 1024px) {

}

// mobile responsive 

@media screen and (max-width: 765px){

    .about-cover {
        display: none;
    }

    .about-cover-mobile {
        display: block;
        width: 100vw;
    }

    .stocker-cover {
        display: none;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
    }

    .about-main {
        display: flex;
        flex-direction: column;
    }

    .transparent-stocker {
        width: 100vw;
        background-color: $primary-blue;
        position: static;
        height: 500px;
        margin-top: -10px;
    }

    .bluebanner-column, .responsibility-container, .gray-footer,.res-align, .responsibility-box,  .leadership-bottom, .left {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0;
    }

    .bluebanner-header {
        font-size: 40px;
        text-align: center;
    }

    .leadership-text, .partnership-logos {
        word-wrap: break-word;
        width: 100vw;
        margin: 10px 20px 0px 40px;
        flex-wrap: wrap;
    }

    .part-icon {
        margin: 10px 0px;
        text-align: center;
    }

    .team-container, .execs-container {
        width: 100vw;
    }

    .display-circle-text, .history-circles-para, .history-circles-header {
        margin: 0;
        word-wrap: break-word;
        width: 100vw;
        position: static;
    }

    .team-box, .team-text, .execs-box {
        word-wrap: break-word;
        width: 85vw;
    }

    .team-line {
        width: 300px;
        height: 1px;
    }

    .facts-box, .facts-header, .cowpen-image {
        width: 100vw;
    }

    .responsibility-box {
        margin-top: 70px;
    }

    .res-text-left, .responsibility-header {
        word-wrap: break-word;
        width: 85vw;
        margin: 0 auto;
    }

    .map {
        width: 85vw;
    }

    .map-container {
        height: 500px;
    }

    .gray-footer {
        height: 600px;
    }

    .gray-location {
        text-align: center;

    }


   

}