.loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background-color: $white;
    @include flexSetUp;
}

.slider-home {
    @include flexSetUp;
    flex-direction: column; 
    grid-area: slider-home;
}

.slider-one {
    width: 100vw;
    overflow-x: hidden;
}

.slider-text {
    position: absolute;
    width: 100vw;
    height: 100vh;
    @include flexSetUp;
}

.center-box {
    @include flexSetUp;
}

.vision-text {
    color: $primary-blue;
    position: absolute;
    word-wrap: break-word;
    width: 45vw; 
    text-shadow: 2px 2px 6px gray;
    text-align: center;
}

.main-cta {
    @include mainCTA;
    margin-top: 300px;
}

.main-cta:hover {
    background-color: $opacity-dark;
    font-size: 28px;
    letter-spacing: 2px;
    padding-bottom: 3px;
}

.icon-animal-box {
    grid-area: icon-animal-box;
}

.icon-box {
    margin-top: 50px;
    background-color: $white;
    height: 250px;    
}

.icon-header {
    word-wrap: break-word;
    width: 82vw; 
}

.icon-header, .icon-subheader, .animal, .animal-text {
    text-align: center;  
    margin: auto;  
    margin-bottom: 50px;
    color: $primary-blue;
}

.animal-icons {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    text-align: center;  
    margin: auto; 
    grid-area: animal-icons;
}

.home-container {
    display: flex;
    flex-direction: column;
}

.bluebanner-box {
    background-color: $primary-blue;
    height: 327px;
    color: $white;
    @include bodySetUp;
    @include flexSetUp;
    grid-area: bluebanner-box;
}

.bluebanner-text {
    word-wrap: break-word;
    width: 650px; 
}

.bluebanner-header {
    color: $text-gray;
}

.bluebanner-est {
    margin: 88px 60px 0px 20px;
}

.mission-boxes {
    @include flexSetUp;
    height: 500px;
    vertical-align: center;
    grid-area: mission-boxes;
}

.mission-box {
    justify-content: center;
    margin: 10px;
    text-align: center;
    width: 300px;
    height: 300px;
    box-shadow: 0 7px 24px 0 rgba(0,0,0,.25), 0 5px 5px 0 rgba(0,0,0,.26)    
}

.mission-gear {
    margin: 55px 0px 25px 0px;
}

.mission-value {
    margin: 55px 0px 35px 0px;
}

.mission-service {
    margin: 80px 0px 45px 0px;
}

.fourth-main {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    grid-area: fourth-main;  
}

.fourth-container {
    height: 700px;
    width: 100vw;
    margin-top: 25px;
    text-align: center;  
}

.fourth-text {
    position: absolute;
    margin-top: 150px;
}

.center-container {
    text-align: center; 
    width: 1000px; 
}

.fourth-para {
    color: $primary-blue;
    word-wrap: break-word;
    width: 1000px; 
}

.four {
    margin: 20px;
    color: $primary-blue;
}

.res-cta {
    @include mainCTA;
    margin: auto;
    margin-top: 100px;
    letter-spacing: 2px;
}

.res-cta:hover {
    background-color: $fourth-blue;
}

.flip-container {
    perspective: 1000px;
    margin: 20px;
}
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
    width: 300px;
    height: 300px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    @include flexSetUp;
    flex-direction: column;
    width: 300px;
    height: 300px;
    text-align: left;
}

.back-header {
    color: $primary-blue;
    margin-top: 10px;
}

.back-line {
    height: 1.5px;
    width: 175px;
    background-color: $primary-blue;
    margin-top: 45px;
    position: absolute;
}

.back-numbers {
    color: $primary-blue;
    font-family: $main-font;
    font-size: 85px;
}

.back-para {
    word-wrap: break-word;
    width: 225px;
    margin-top: 20px;
    color: $text-dark;
    text-align: center;
}

// mobile to ipad pro responsive 

@media screen and (max-width: 1025px){
    .home-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "slider-home" 
        "icon-animal-box"
        "animal-icons"
        "bluebanner-box"
        "mission-boxes"
        "fourth-main"
        "footer-nav";
    }

    .slider-home {
        height: 100vh;
        width: 100vw;
        .vision-text {
            font-size: 24px;
            width: 75vw;
        }
    }

    .slider {
        height: 100vh !important;
    }

    .main-cta {
        margin-top: 350px;
    }

    .icon-animal-box, .icon-box, .animal-icons, .icon-header, .icon-subheader, .animal, .animal-text, .animal-icons, .home-container, .bluebanner-box, .bluebanner-text, .mission-boxes, .mission-box, .fourth-container   {
        @include flexSetUp;
        flex-direction: column;
    }

    .icon-header, .icon-subheader, .bluebanner-text, .bluebanner-header, .fourth-text, .fourth-para, .center-container    {
        word-wrap: break-word;
        width: 75vw;
    }









}





