.slider-home {
    display: flex;
    flex-direction: column; 
}

.slider-one {
    width: 100vw;
    overflow-x: hidden;
}

.slider-text {
    position: absolute;
    width: 100vw;
    height: 100vh;
    @include flexSetUp;
}

.center-box {
    @include flexSetUp;
    margin-top: -50px;
}

.vision-text {
    color: $primary-blue;
    position: absolute;
    word-wrap: break-word;
    width: 800px; 
    text-shadow: 2px 2px 6px gray;
}

// .vision-text {
//     animation: fadeInOut 5s infinite;
//     animation-duration: 2.5s, 5s, 1s;
//     animation-iteration-count: 2, 1, 5;
// }

.main-cta {
    @include mainCTA;
    margin-top: 300px;
}

.icon-box {
    background-color: $white;
    height: 250px;
    padding-top: 50px;
}

.icon-header {
    word-wrap: break-word;
    width: 1050px; 
}

.icon-header, .icon-subheader, .animal, .animal-text {
    text-align: center;  
    margin: auto;  
    margin-bottom: 50px;
    color: $primary-blue;
}

.animal-icons {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    text-align: center;  
    margin: auto; 
}

.home-container {
    display: flex;
    flex-direction: column;
}

.bluebanner-box {
    background-color: $primary-blue;
    height: 327px;
    color: $white;
    @include bodySetUp;
    @include flexSetUp;
}

.bluebanner-text {
    word-wrap: break-word;
    width: 650px; 
}

.bluebanner-header {
    color: $text-gray;
}

.bluebanner-est {
    margin: 88px 60px 0px 20px;
}

.mission-boxes {
    @include flexSetUp;
    height: 500px;
    vertical-align: center;
}

.mission-box {
    justify-content: center;
    margin: 10px;
    text-align: center;
    width: 300px;
    height: 300px;
    box-shadow: 0 7px 24px 0 rgba(0,0,0,.25), 0 5px 5px 0 rgba(0,0,0,.26)    
}

.mission-gear {
    margin: 55px 0px 25px 0px;
}

.mission-value {
    margin: 55px 0px 35px 0px;
}

.mission-service {
    margin: 80px 0px 45px 0px;
}

.fourth-main {
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.fourth-container {
    height: 700px;
    width: 100vw;
    margin-top: 25px;
    text-align: center;  
}

.fourth-text {
    position: absolute;
    margin-top: 150px;
}

.center-container {
    text-align: center; 
    width: 1000px; 
}

.fourth-para {
    color: $primary-blue;
    word-wrap: break-word;
    width: 1000px; 
}

.four {
    margin: 20px;
}

.res-cta {
    @include mainCTA;
    margin: auto;
    margin-top: 100px;
    letter-spacing: 2px;
}

.flip-container {
    perspective: 1000px;
    margin: 20px;
}
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
    width: 300px;
    height: 300px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
    @include flexSetUp;
    flex-direction: column;
    width: 300px;
    height: 300px;
    text-align: left;
}

.back-header {
    color: $primary-blue;
    margin-top: 10px;
}

.back-line {
    height: 1.5px;
    width: 175px;
    background-color: $primary-blue;
    margin-top: 45px;
    position: absolute;
}

.back-numbers {
    color: $primary-blue;
    font-family: $main-font;
    font-size: 85px;
}

.back-para {
    word-wrap: break-word;
    width: 225px;
    margin-top: 20px;
    color: $text-dark;
    text-align: center;
}