.slider-home {
    display: flex;
}

.slider-one {
    width: 100vw;
    position: absolute;
    overflow-x: hidden;
    z-index: 1;    
}

.slider-text {
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    @include flexSetUp;
}

.center-box {
    @include flexSetUp;
    margin-top: -50px;
}

.vision-text {
    color: $primary-blue;
    position: absolute;
    width: 60vw;
}

.main-cta {
    @include mainCTA;
    margin-top: 300px;
}