.feedyard-cover-title-one {
    margin: 60px 0px 2px 0px;
}

.feedyard-cover-title-two {
    margin-bottom: 2px;
}

.feedyard-cover-title-three {
    margin-bottom: 30px;
}

.feedyard-subtitle {
    margin-bottom: 30px;
}

.blue-banner-flex {
    height: 227px;
    width: 100vw;
    color: $white;
    background-color: $primary-blue;
    @include flexSetUp;
    margin-top: -6px;
}

.blue-banner-flex-m {
    height: 227px;
    width: 100vw;
    color: $white;
    background-color: $primary-blue;
    @include flexSetUp;
}

.blue-left-text {
    @include flexSetUp;
    flex-direction: column;
    word-wrap: break-word;
    width: 150px;
    text-align: center;
    letter-spacing: 1.41px;
}

.blue-left-text-two {
    @include flexSetUp;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1.41px;
    font-size: 31px;
}

.line-break-banner {
    background-color: $opacity-white-half;
    width: 2px;
    height: 125px;
    margin: 0px 60px;
}

.blue-right-text {
    font-size: 53px;
}

.accutrac-container {
    @include flexSetUp;
    flex-direction: column;
    margin: 60px;
}

.accutrac-header-box {
    display: flex;
}

.accutrac-header {
    color: $primary-blue;
    margin-bottom: 16px;
}

.accutrac-header-small {
    font-size: 15px;
    margin: 5px;
}

.accutrac-subheader {
    color: $secondary-blue;
    margin-bottom: 15px;
}

.accutrac-line {
    width: 250px;
    height: 1px;
    background-color: $circle-gray;
    margin-bottom: 15px;
}

.accutrac-para {
    color: $text-dark;
    margin-bottom: 60px;
}

.blue-right-contact {
    @include watchVIDEO;
    color: $secondary-blue;
}

.blue-right-contact:hover {
    background-color: $fourth-blue;
    color: $white;
}

.blue-left-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1.41px;
}

.blue-left-bold {
    font-weight: bold;
    font-size: 31px;
}

.hear-customers-container {
    @include flexSetUp;
    margin-bottom: 40px;
}

.cowboy-testimony {
    width: 55vw;
    height: 465px;
}

.customer-lightblue {
    background-color: $secondary-blue;
    color: $white;
    text-align: center;
    width: 45vw;
    height: 465px;
    @include flexSetUp;
    flex-direction: column;
}

.customer-header {
    font-size: 42px;
    letter-spacing: 1.91px;
    word-wrap: break-word;
    width: 300px;
    margin-bottom: 40px;
}

.customer-watchvideo {
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 0.91px;
}

.transparent-banner-flex {
    height: 150px;
    width: 100vw;
    color: $primary-blue;
    background-color: $opacity-white;
    @include flexSetUp;
    position: absolute;
}

.transparent-left-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 0.3px;
    word-wrap: break-word;
    width: 25vw;
}

.transparent-left-subtext {
    letter-spacing: 1.8px;
    word-wrap: break-word;
    width: 25vw;
}

.transparent-line-break-banner {
    background-color: $primary-blue;
    width: 2px;
    height: 100px;
    margin: 0px 60px;
}

.transparent-right-text {
    color: $text-dark;
    word-wrap: break-word;
    width: 450px;
}

.transparent-right-text2 {
    color: $text-dark;
    word-wrap: break-word;
    width: 520px;
}

.comprehensive-solutions {
    margin-top: -41px;
    width: 100vw;
}

.carousel-frame {
    margin-top: -6px;
}

.white-banner-flex {
    height: 250px;
    width: 100vw;
    color: $primary-blue;
    background-color: $white;
    @include flexSetUp;
}

.white-banner-flex-bottom {
    height: 250px;
    width: 100vw;
    color: $primary-blue;
    background-color: $white;
    @include flexSetUp;
}

.laptop {
    margin-top: 20px;
}

.gps {
    width: 670px;
    margin-left: -25px;
    margin-top: 20px;
}

.color-pallete, .stethoscope {
    margin-left: -25px;
    margin-top: 20px;
}

.feedyard-blueactive {
    bottom: -11px;
    width: 460px;
    height: 11px;
    background-color: $secondary-blue;
    position: absolute;
    cursor: pointer;
}

.slideshow-container {
    display: flex;
    justify-content: flex-start;
}

.feedyard-cover-mobile {
    display: none;
}



// ipad responsive 

@media only screen and (min-width : 766px) and (max-width : 1024px) {

    .feedyard-cover-mobile {
        display: block;
        width: 100vw;
    }

    .stocker-cover {
        display: none;
    }

    .feedyard-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
    }

    .feedyard-main {
        display: flex;
        flex-direction: column;
    }

    .transparent-stocker, {
        width: 100vw;
        background-color: $primary-blue;
        position: static;
        height: 550px !important;
        margin: 0;
        padding-bottom: 50px;
    }

    .transparent-stocker2 {
        width: 100vw;
        background-color: $primary-blue;
        position: static;
        height: 450px;
    }

    .feedyard-cover-title-one, .feedyard-cover-title-two, .feedyard-cover-title-three, {
        color: $white;
        z-index: 20;
        word-wrap: break-word;
        width: 90vw;
    }

    .blue-banner-flex, .blue-banner-flex-m, .hear-customers-container, .transparent-banner-flex, .white-banner-flex {
        display: flex;
        flex-direction: column;
        position: static;
        width: 100vw;
    }

    .white-banner-flex {
        margin-bottom: 130px;
    }

    .blue-banner-flex, .blue-banner-flex-m {
        text-align: center;
        height: 300px;
    }

    .blue-left-text {
        word-wrap: break-word;
        width: 85vw;
    }

    .blue-right-text {
        font-size: 42px;
    }

    .line-break-banner {
        height: 2px;
        width: 100px;
        margin: 20px 0px;
    }

    .transparent-line-break-banner {
        height: 2px;
        width: 85vw;
        margin: 20px 0px;
       
    }

    .accutrac-wheel {
        width: 50vw;
    }

    .cowboy-testimony, .customer-lightblue, .transparent-left-text, .transparent-right-text, .transparent-right-text2, .transparent-left-subtext, .customer-testimony, .customer-lightblue2, .transparent-left-text2, .transparent-left-subtext2, .comp-para {
        width: 100vw;
    }

    .transparent-left-text, .transparent-left-subtext, .transparent-left-text2, .transparent-left-subtext2, .comp-para  {
        word-wrap: break-word;
        width: 85vw;
    }

    .customer-lightblue, .customer-lightblue2 {
        margin-top: -2px;
    }

    .transparent-right-text {
        word-wrap: break-word;
        width: 85vw;
    }

    .transparent-right-text2 {
        word-wrap: break-word;
        width: 85vw;
        margin-top: 20px;
    }

    .transparent-banner-flex {
        height: 450px;
        margin-bottom: 75px;
    }

    .comprehensive-solutions {
        height: 20vh;
        margin-bottom: 100px;
    }

    .dms-para {
        word-wrap: break-word;
        width: 90vw;
    }

    .white-banner-flex-bottom {
        display: flex;
        flex-direction: column;
        height: 600px;
    }
    
    .white-text {
        color: $white;
    }

    .accutrac-container {
        margin: 0;
        height: 800px;
    }

    .accutrac-subheader, .accutrac-para {
        word-wrap: break-word;
        width: 85vw;
        text-align: center;
    }

}



// mobile responsive 

@media screen and (max-width: 765px){

    .feedyard-cover-mobile {
        display: block;
        width: 100vw;
    }

    .stocker-cover {
        display: none;
    }

    .feedyard-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
    }

    .feedyard-main {
        display: flex;
        flex-direction: column;
    }

    .transparent-stocker, {
        width: 100vw;
        background-color: $primary-blue;
        position: static;
        height: 550px !important;
        margin: 0;
        padding-bottom: 50px;
    }

    .transparent-stocker2 {
        width: 100vw;
        background-color: $primary-blue;
        position: static;
        height: 450px;
    }

    .feedyard-cover-title-one, .feedyard-cover-title-two, .feedyard-cover-title-three, {
        color: $white;
        z-index: 20;
        word-wrap: break-word;
        width: 90vw;
    }

    .blue-banner-flex, .blue-banner-flex-m, .hear-customers-container, .transparent-banner-flex, .white-banner-flex {
        display: flex;
        flex-direction: column;
        position: static;
        width: 100vw;
    }

    .white-banner-flex {
        margin-bottom: 130px;
    }

    .blue-banner-flex, .blue-banner-flex-m {
        text-align: center;
        height: 300px;
    }

    .blue-left-text {
        word-wrap: break-word;
        width: 85vw;
    }

    .blue-right-text {
        font-size: 42px;
    }

    .line-break-banner {
        height: 2px;
        width: 100px;
        margin: 20px 0px;
    }

    .transparent-line-break-banner {
        height: 2px;
        width: 130px;
        margin: 15px 190px 15px 0px;
       
    }

    .accutrac-wheel {
        width: 85vw;
    }

    .cowboy-testimony, .customer-lightblue, .transparent-left-text, .transparent-right-text, .transparent-right-text2, .transparent-left-subtext, .customer-testimony, .customer-lightblue2, .transparent-left-text2, .transparent-left-subtext2, .comp-para {
        width: 100vw;
    }

    .transparent-left-text, .transparent-left-subtext, .transparent-left-text2, .transparent-left-subtext2, .comp-para  {
        word-wrap: break-word;
        width: 85vw;
    }

    .customer-lightblue, .customer-lightblue2 {
        margin-top: -2px;
    }

    .transparent-right-text {
        word-wrap: break-word;
        width: 85vw;
    }

    .transparent-right-text2 {
        word-wrap: break-word;
        width: 85vw;
        margin-top: 20px;
    }

    .transparent-banner-flex {
        height: 450px;
        margin-bottom: 75px;
    }

    .comprehensive-solutions {
        height: 20vh;
        margin-bottom: 100px;
    }

    .dms-para {
        word-wrap: break-word;
        width: 90vw;
    }

    .white-banner-flex-bottom {
        display: flex;
        flex-direction: column;
        height: 600px;
    }
    
    .white-text {
        color: $white;
    }

    .accutrac-container {
        margin: 0;
        height: 800px;
    }

    .accutrac-subheader, .accutrac-para {
        word-wrap: break-word;
        width: 85vw;
    }
}

