.moreinfo-top {
    background-color: $bg-dark;
    color: $primary-blue;
    width: 100vw;
    height: 352px;
    text-align: center;
    @include flexSetUp;
    flex-direction: column;    
}

.moreinfo-top-btns {
    @include flexSetUp;
}

.moreinfo-top-nav {
    height: 132px;
    width: 460px;
    background-color: $white;
    box-shadow: 2px 4px 9px 1px #ccc;
    @include flexSetUp;
    flex-direction: column;
    margin: 15px;
    cursor: pointer;
}

.moreinfo-top-text {
    color: $circle-num;
    word-wrap: break-word;
    width: 970px;
    margin: 20px;
}

.active-line {
    width: 460px;
    height: 11px;
    background-color: $primary-blue;
    bottom: 0;
}

.moreinfo-full {
    @include flexSetUp;
}

.moreinfo-side {
    width: 25vw;
    height: 800px;
    background-color: $bg-light;
    z-index: -1;
}

.nav-side-box {
    padding-top: 30px;
}

.nav-side-btn {
    width: 20vw;
    height: 132px;
    background-color: $white;
    color: $primary-blue;
    box-shadow: 2px 4px 9px 1px #ccc;
    margin: 0px 30px 40px 30px;
    @include flexSetUp;
    flex-direction: column;
    cursor: pointer;
}

.active-side {
    left:25px;
    width: 25px;
    height: 132px;
    background-color: $secondary-blue;
    position: absolute;
    cursor: pointer;
}

.moreinfo-right {
    width: 75vw;
    height: 800px;
}

.moreinfo-display {
    margin: 60px;
    color: $primary-blue;
}

.dairy-btn {
    cursor: pointer;
}

.moreinfo-display-header {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 25 px;
}

.moreinfo-list {
    margin: 15px 0px
}

.tv-batcher {
    margin-top: 40px;
}

.tv-screen {
    margin: 20px 0px 10px 20px;;
}

.view2-text {
    color: $text-dark;
    margin-top: 25px;
}

.list-flex {
    display: flex;
    padding-left: 25px;
    text-indent: -1.5em;
    margin-top: 20px;
}

.click-bottom-box {
    display: flex;
}

.click-left-header {
    color: $primary-blue;
}

.click-left-para {
    color: $text-dark;
    word-wrap: break-word;
    width: 250px;
}

.click-me-btn {
    @include clickME;
}

.img-view2-box {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
}
