.fourohfour-box {
    display: flex;
    justify-content: center;
}

.fourohfour-header {
    @include flexSetUp;
    position: absolute;
    margin-top: 100px;
    font-size: 76px;
    color: $primary-blue;
}

.fourohfour-image {
    @include flexSetUp;
    height: 100vh;
}

// div + div {
//     font-size: 1.5em;
// }
// .right {
//     background: #ecece2;
//     float: right;
//     width: 50%;
//     height: 1100px;
//     overflow: scroll;
// }
// div > p {
//     position: absolute;
//     top: 20%;
//     color: blue;
//     font-size: 2em;
// }
// p:nth-child(2)	{
//     font-size: 50px;
// }
// submit-btn:focus {
//     background: linear-gradient(-90deg, red, yellow);
//     transform: rotate(7deg);
// }
