.bluecover-container {
    width: 100vw;
    height: 350px;
    background-color: $secondary-blue;
    color: $white;
    position: absolute;
    @include flexSetUp;
    bottom: 0;
    margin-bottom: -200px;
    text-align: left;
}

.bluecover-text-box {
    width: 100vw;
    position: absolute;
    @include flexSetUp;
}

.integrator-top-text {
    top: 0;
    margin-top: 60px;
    position: absolute;
    color: $primary-blue;
    text-align: center;
}

.pres-name {
    color: $primary-blue;
}

.text-animated {
    margin-top: 130px;
    position: absolute;
    color: $primary-blue;
    text-align: center;
    word-wrap: break-word;
    width: 800px;
}

#fadeout {
    animation-name: fadeout;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0%   { opacity:0; }
    50%  { opacity:1; }
    100% { opacity:0; }
}

.fadeinlast {
    margin-top: 130px;
    position: absolute;
    color: $primary-blue;
    text-align: center;
    word-wrap: break-word;
    width: 800px;
    visibility: hidden;
    animation-name: fadeinlast;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeinlast {
    0%   { opacity:0; visibility: hidden; }
    50%  { opacity:0; visibility: visible; }
    100% { opacity:1; visibility: visible;}
}



.integrator-top-subtitle {
    top: 0;
    margin-top: 200px;
    position: absolute;
    color: $circle-gray;
    text-align: center;
    word-wrap: break-word;
    width: 40vw;
}



.bluecover-banner-left {
    @include flexSetUp;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
    width: 40vw;
    margin: 30px;
}

.bluecover-banner-right {
    @include flexSetUp;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
    width: 40vw;
    margin: 30px;
    text-align: left;
}

.bluecover-title-left, .bluecover-title-right  {
    margin-bottom: 20px;
}

.experience-text {
    word-wrap: break-word;
    width: 40vw;
    margin-bottom: 45px;
    color: $text-dark;
}

.experience-text-two {
    word-wrap: break-word;
    width: 40vw;
    margin-bottom: 45px;
    margin-top: -20px;
    color: $text-dark;
}

.four-circles-container {
    @include flexSetUp;
    flex-direction: column;
    margin: 0px 0px 50px 40px;
    word-wrap: break-word;
    width: 45vw;
}

.circle-num {
    @include circleNUM;
}

.circle-num-text {
    color: $circle-num;
    font-family: $main-font;
    font-size: 20px;
    word-wrap: break-word;
    width: 27vw;
    margin-left: 30px;
}

.four-column {
    @include flexSetUp;
}

.int-wheel-container {
    background-color: $primary-blue;
    width: 100vw;
    height: 600px;
    @include flexSetUp;
    justify-content: space-around;
}

.wheel {
    max-width: 33vw;
}


.app-solutions-box {
    @include flexSetUp;
    flex-direction: column;
    color: $white;
    word-wrap: break-word;
    position: relative;
    margin-left: 30px;
}

.app-solutions-image {
    width: 525px;
    margin-bottom: 53px;
}

.app-solutions-wrapper {
    position: absolute;

}

.app-solutions-header {
    margin-bottom: 20px;
    margin-left: -70px;
}

.app-solutions-text {
    word-wrap: break-word;
    width: 450px;
}

.app-solutions-text-subheader {
    text-align: left;
    font-weight: bolder;
    margin: 20px 0px;
}

.app-solutions-text-last {
    margin: 20px 0px;
    word-wrap: break-word;
    width: 450px;
}

.liquid-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 400px;
}

.liquid-box{
    @include flexSetUp;
    color: $primary-blue;
}

.liquid-line {
    background-color: $fourth-blue;
    width: 2px;
    height: 150px;
    margin: 0px 40px;
}

.liquid-left {
    text-align: center;
}

.liquid-text-one {
    margin-bottom: 20px;
    word-wrap: break-word;
    width: 800px;
    color: $text-dark;
}

.liquid-text-two {
    word-wrap: break-word;
    width: 800px;
    color: $text-dark;
}

.watch-video-container {
    height: 260px;
    width: 100vw;
    color: $white;
    background-color: $secondary-blue;
    @include flexSetUp;
    justify-content: space-around;
    z-index: 100;
}

.pelleting-subtitle {
    word-wrap: break-word;
    width: 450px;
    margin-top: 20px;
}

.pelleting-video-box {
    @include watchVIDEO;
}

.pelleting-video-box:hover {
    background-color: $primary-blue;
    color: $white;
}

.enzyme-video-box {
    @include watchVIDEO;
    color: $primary-blue;
}

.enzyme-video-box:hover {
    background-color: $fourth-blue;
    color: $white;
}

.contact-video-box {
    @include watchVIDEO;
    color: $third-blue;
}

.contact-video-box:hover {
    background-color: $primary-blue;
    color: $white;
}

.weigh-flex-video-box {
    @include watchVIDEO;
    color: $bg-light;
    background-color: $secondary-blue;
}

.weigh-flex-video-box:hover {
    background-color: $circle-gray;
    color: $white;
}

.triangle-down {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid $secondary-blue;
    margin: auto;
    margin-top: -1px;
}

.liquimatic-container {
    @include flexSetUp;
}

.liquimatic-box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 132px;
    box-shadow: 2px 4px 9px 1px #ccc;
    margin: 30px;
}

.liquimatic-box-right  {
    @include flexSetUp;
    flex-direction: column;
    text-align: center;
    width: 40vw;
    height: 132px;
    box-shadow: 2px 4px 9px 1px #ccc;
    margin: 30px;
}

.liquimatic-header-left {
    color: $primary-blue;
    margin: 0px 0px 10px 30px;
}

.liquimatic-text-left {
    color: $text-dark;
    margin-left: 30px;
}

.liquimatic-text-right {
    color: $white;
}

.liquimatic-box-right {
    background-color: $secondary-blue;
}

.procontrol-subheader {
    text-transform: lowercase;
    margin-top:-25px;
    margin-bottom: 25px;
}

.color1 {
    background-color: $primary-blue;
}

.color2 {
    background-color: $secondary-blue;
}

.color3 {
    background-color: $third-blue;
}

.color4 {
    background-color: $fourth-blue;
}

.color5 {
    background-color: $bg-light;
}

.weigh-flex-container {
    @include flexSetUp;
    color: $primary-blue;
}

.weigh-flex-machine-box, .weigh-flex-info {
    width: 50vw;
    height: 527px;
    @include flexSetUp;
    flex-direction: column;
}

.weigh-flex-machine-box {
    margin-top: 10px;
}

.weigh-flex-machine {
    max-width: 33vw;
}

.weigh-flex-text {
    word-wrap: break-word;
    width: 41vw;
    text-align: center;
    margin: 20px 0px 60px 0px;
    color: $primary-blue;
}

.enzyme-container {
    @include flexSetUp;
    color: $white;
}

.enzyme-machine-box, .enzyme-info {
    width: 50vw;
    height: 527px;
    @include flexSetUp;
    flex-direction: column;
}

.enzyme-text {
    word-wrap: break-word;
    width: 40vw;
    text-align: center;
    margin: 20px 0px 60px 0px;
}

.batching-container {
    @include flexSetUp;
    color: $white;
}

.batching-unit-three {
    width: 33.33vw; 
    height: 287px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.batching-unit-four {
    width: 25vw; 
    height: 395px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.batching-header {
    margin: 40px 0px 10px 30px;
}

.batching-list {
    margin: 0px 25px 3px 30px;
    @include bodySetUp;
    padding-left: 25px;
    text-indent: -1.5em;
}

.procontrol-screen {
    margin: 0px 70px 0px 50px;
    max-width: 33vw;
}

.procontrol-container {
    @include flexSetUp;
    height: 500px;
    color: $primary-blue;
    justify-content: space-around;
}

.options-container {
    @include flexSetUp;
    height: 500px;
    width: 100vw;
    color: $primary-blue;
}

.options-info {
    margin-left: 20px;
    margin-top: -40px;
    width: 45vw;
}

.procontrol-header {
    margin-bottom: 20px;
}

.procontrol-list {
    color: $text-dark;
    word-wrap: break-word;
    width: 40vw;
    @include bodySetUp;
    padding-left: 25px;
    text-indent: -1.5em;
}

.watch-video-container-footer {
    height: 260px;
    width: 100vw;
    color: $white;
    background-color: $third-blue;
    @include flexSetUp;
}

.customized-header {
    font-family: $btn-font;
    font-size: 31px;
    text-align: center;
    letter-spacing: 2px;
}

.customized-line {
    background-color: $white;
    width: 2px;
    height: 150px;
    margin: 0px 60px;
}

.weighpro-box {
    @include flexSetUp;
    flex-direction: column;
}

.weighpro-screen {
    max-width: 33vw;
}

.weigh-btn-container {
    @include flexSetUp;
    margin-top: 10px;
}

.weigh-btn {
    @include weighBTN;
}

.arrow-circle {
    @include circleARROW;
}

.integrator-cover-mobile {
    display: none;
}


// ipad responsive 

@media only screen and (min-width : 766px) and (max-width : 1024px) {

    .blog-cover {
        display: none;
    }

    .integrator-cover-mobile {
        display: block;
        width: 100vw;
    }

    .integrator-cover {
        display: none;
    }

    .integrator-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
    }

    .integrator-main {
        display: flex;
        flex-direction: column;
    }

    .bluecover-text-box {
        width: 100vw;
        background-color: $primary-blue;
        position: relative;
        height: 600px;
        margin-top: -10px;
    }

    .integrator-top-text, .text-animated, .fadeinlast, .integrator-top-subtitle {
        position: absolute;
        color: $white;
        margin: auto 0;
        word-wrap: break-word;
        width: 85vw;
        top: auto;
    }

    .integrator-top-text {
        margin-top: -160px;
    }

    .text-animated, .fadeinlast {
        margin-top: -85px;
    }

    .integrator-top-subtitle {
        margin-top: 145px;
    }

    .bluecover-container {
        width: 100vw;
        position: static;
        height: 800px;
        margin-top: -10px; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .bluecover-banner-left {
        word-wrap: break-word;
        width: 85vw;
        margin-bottom: 50px;
        margin-top: 100px;
    }

    .bluecover-banner-right {
        word-wrap: break-word;
        width: 85vw;
        margin-bottom: 50px;
    }

    .team-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 250px;
    }

    .team-box, .four-circles-container {
        margin: auto 0;
        height: 500px;
    }

    .pres-name, .experience-text, .experience-text-two {
        word-wrap: break-word;
        width: 85vw;
    }

    .four-circles-container {
        margin: auto 0;
        height: 550px;
        margin-top: -150px;
        width: 100vw;
        margin-bottom: 50px;
    }
    
    .circle-num-text {
        width: 50vw;
    }

    .four-column {
        margin-bottom: 30px;
    }

    .int-wheel-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: static;
        margin: auto 0;
        height: 1150px;
    }

    .app-solutions-box{
        width: 100vw;
        position: static;
        margin: 0;
    }

    .app-solutions-image {
        margin: 0;
    }

    .app-solutions-text, .app-solutions-text-last, .app-solutions-wrapper, .app-solutions-header {
        margin: auto 0;
        word-wrap: break-word;
        width: 85vw;
    }

    .app-solutions-wrapper {
        margin-top: 20px;
    }

    .app-solutions-header {
        margin-bottom: 20px;
    }

    .wheel {
        max-width: 55vw;
        margin: 80px 0px;
    }

    .watch-video-container {
        width: 100vw;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .pelleting-box, .pelleting-subtitle {
        word-wrap: break-word;
        width: 85vw;
    }
    
    .liquimatic-container {
        display: flex;
        flex-direction: column;
    }

    .liquimatic-box-left, .liquimatic-box-right {
        width: 85vw;
    }

    .liquimatic-text-left, .liquimatic-text-right {
        width: 75vw;
    }

    .options-container {
        display: flex;
        flex-direction: column;
        height: 1000px;
        width: 100vw;
    }

    .options-info, .procontrol-list {
        width: 100vw;
        margin-bottom: 20px;
        margin-left: 25px;
    }

    .procontrol-header {
        font-size: 31px;
        margin-top: -40px;
        margin-left: 25px;
    }

    .weigh-flex-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 1000px;
    }

    .weigh-flex-info, .weigh-flex-machine-box {
        width: 100vw;
    }

    .weigh-flex-text {
        width: 85vw;
    }

    .weigh-flex-machine {
        max-width: 50vw;
    }

    .procontrol-subheader {
        margin-left: 25px;
    }

    .procontrol-list {
        word-wrap: break-word;
        width: 75vw;
    }

    .weighpro-screen {
        margin-top: 50px;
        max-width: 50vw;
    }

    .weigh-btn-container {
        display: flex;
        flex-direction: column;
    }

    .weigh-btn {
        width: 85vw;
        margin: 15px 0px;
    }

    .weigh-text {
        word-wrap: break-word;
        width: 45vw;
    }

    .arrow-circle {
        display: none;
    }

    .batching-container {
        display: flex;
        flex-direction: column;
    }

    .batching-unit-four {
        width: 100vw;
        height: 350px;
    }

    .batching-unit-three {
        width: 100vw;
        height: 230px;
    }

    .enzyme-container {
        display: flex;
        flex-direction: column;
    }

    .enzyme-machine {
        width: 35vw;
    }

    .enzyme-info {
        width: 100vw;
    }

    .enzyme-header, .enzyme-text {
        word-wrap: break-word;
        width: 85vw;
        text-align: center;
    }

    .procontrol-container, .watch-video-container-footer {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .procontrol-container {
        height: 700px;
    }

    .procontrol-screen {
        max-width: 50vw;
    }

    .customized-line {
        display: none;
    }

    .contact-video-box {
        margin-top: 30px;
    }
    

}


// mobile responsive 

@media screen and (max-width: 765px){

    .integrator-cover-mobile {
        display: block;
        width: 100vw;
    }

    .integrator-cover {
        display: none;
    }

    .integrator-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
    }

    .integrator-main {
        display: flex;
        flex-direction: column;
    }

    .bluecover-text-box {
        width: 100vw;
        background-color: $primary-blue;
        position: relative;
        height: 600px;
        margin-top: -10px;
    }

    .integrator-top-text, .text-animated, .fadeinlast, .integrator-top-subtitle {
        position: absolute;
        color: $white;
        margin: auto 0;
        word-wrap: break-word;
        width: 85vw;
        top: auto;
    }

    .integrator-top-text {
        margin-top: -160px;
    }

    .text-animated, .fadeinlast {
        margin-top: -45px;
    }

    .integrator-top-subtitle {
        margin-top: 145px;
    }

    .bluecover-container {
        width: 100vw;
        position: static;
        height: 900px;
        margin-top: -10px; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .bluecover-banner-left {
        word-wrap: break-word;
        width: 85vw;
    }

    .bluecover-banner-right {
        word-wrap: break-word;
        width: 85vw;
        margin-top: -20px;
    }

    .team-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 250px;
    }

    .team-box, .four-circles-container {
        margin: auto 0;
        height: 600px;
    }

    .pres-name, .experience-text, .experience-text-two {
        word-wrap: break-word;
        width: 85vw;
    }

    .four-circles-container {
        margin: auto 0;
        height: 550px;
        margin-top: -150px;
        width: 100vw;
        margin-bottom: 50px;
    }
    
    .circle-num-text {
        width: 50vw;
    }

    .four-column {
        margin-bottom: 30px;
    }

    .int-wheel-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: static;
        margin: auto 0;
        height: 1150px;
    }

    .app-solutions-box{
        width: 100vw;
        position: static;
        margin: 0;
    }

    .app-solutions-image {
        margin: 0;
    }

    .app-solutions-text, .app-solutions-text-last, .app-solutions-wrapper, .app-solutions-header {
        margin: auto 0;
        word-wrap: break-word;
        width: 85vw;
    }

    .app-solutions-wrapper {
        margin-top: 20px;
    }

    .app-solutions-header {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .app-solutions-text, .app-solutions-text-last {
        font-size: 13.5px;
    }

    .wheel {
        max-width: 85vw;
        margin: 80px 0px;
    }

    .watch-video-container {
        width: 100vw;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .pelleting-box, .pelleting-subtitle {
        word-wrap: break-word;
        width: 85vw;
    }
    
    .liquimatic-container {
        display: flex;
        flex-direction: column;
    }

    .liquimatic-box-left, .liquimatic-box-right {
        width: 85vw;
    }

    .liquimatic-text-left, .liquimatic-text-right {
        width: 75vw;
    }

    .options-container {
        display: flex;
        flex-direction: column;
        height: 1000px;
        width: 100vw;
    }

    .options-info, .procontrol-list {
        width: 100vw;
        margin-bottom: 20px;
        margin-left: 25px;
    }

    .procontrol-header {
        font-size: 31px;
        margin-top: -40px;
        margin-left: 25px;
    }

    .weigh-flex-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 1000px;
    }

    .weigh-flex-info, .weigh-flex-machine-box {
        width: 100vw;
    }

    .weigh-flex-text {
        width: 85vw;
    }

    .weigh-flex-machine {
        max-width: 75vw;
    }

    .procontrol-subheader {
        margin-left: 25px;
    }

    .procontrol-list {
        word-wrap: break-word;
        width: 75vw;
    }

    .weighpro-screen {
        max-width: 85vw;
    }

    .weigh-btn-container {
        display: flex;
        flex-direction: column;
    }

    .weigh-btn {
        width: 85vw;
        margin: 15px 0px;
    }

    .weigh-text {
        word-wrap: break-word;
        width: 45vw;
    }

    .arrow-circle {
        display: none;
    }

    .batching-container {
        display: flex;
        flex-direction: column;
    }

    .batching-unit-four {
        width: 100vw;
        height: 350px;
    }

    .batching-unit-three {
        width: 100vw;
        height: 230px;
    }

    .enzyme-container {
        display: flex;
        flex-direction: column;
    }

    .enzyme-machine {
        width: 75vw;
    }

    .enzyme-info {
        width: 100vw;
    }

    .enzyme-header, .enzyme-text {
        word-wrap: break-word;
        width: 85vw;
        text-align: center;
    }

    .procontrol-container, .watch-video-container-footer {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .procontrol-container {
        height: 700px;
    }

    .procontrol-screen {
        max-width: 75vw;
    }

    .customized-line {
        display: none;
    }

    .contact-video-box {
        margin-top: 30px;
    }
    

}