.bluecover-container {
    width: 100vw;
    height: 350px;
    background-color: $secondary-blue;
    color: $white;
    position: absolute;
    @include flexSetUp;
    bottom: 0;
    margin-bottom: -200px;
    text-align: left;
}

.bluecover-text-box {
    width: 100vw;
    position: absolute;
    @include flexSetUp;
}

.integrator-top-text {
    top: 0;
    margin-top: 60px;
    position: absolute;
    color: $primary-blue;
    text-align: center;
    word-wrap: break-word;
    width: 800px;
}

.integrator-top-subtitle {
    top: 0;
    margin-top: 220px;
    position: absolute;
    color: $primary-blue;
    text-align: center;
    word-wrap: break-word;
    width: 460px;
}


.bluecover-banner-left {
    @include flexSetUp;
    flex-direction: column;
    word-wrap: break-word;
    width: 515px;
    margin: 30px;
}

.bluecover-banner-right {
    @include flexSetUp;
    flex-direction: column;
    word-wrap: break-word;
    width: 600px;
    margin: 30px;
}

.bluecover-title-left {
    margin-bottom: 20px;
    margin-left: -120px;
}

.bluecover-title-right {
    margin-bottom: 20px;
    margin-left: -180px;
}


