@mixin media-query($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @media only screen and (#{$type}-width: $width - 1) {
            @content;
        }
    }
  }
  
@mixin flexSetUp($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin header1SetUp {
    font-family: $main-font;
    font-weight: regular;
    font-size: 104px;
    color: $white;
    opacity: 0.2;
}

@mixin header2SetUp {
    font-family: $main-font;
    font-weight: regular;
    font-size: 43px;
}

@mixin header3SetUp {
    font-family: $main-font;
    font-weight: regular;
    font-size: 34px;
}

@mixin header4SetUp {
    font-family: $main-font;
    font-weight: regular;
    font-size: 25px;
}

@mixin header5SetUp {
    font-family: $btn-font;
    font-weight: light;
    font-size: 26px;
}

@mixin header6SetUp {
    font-family: $btn-font;
    font-size: 20px;
    text-transform: uppercase;
}

@mixin bodySetUp {
    font-family: $body-font;
    font-weight: regular;
    font-size: 15px;
}

@mixin mainCTA {
    color: $white;
    background-color: $secondary-blue;
    font-family: $btn-font;
    opacity: 0.8;
    border-radius: 7px;
    width: 300px;
    height: 60px;
    @include flexSetUp;
    cursor: pointer;
}

@mixin secondCTA {
    color: $white;
    background-color: $primary-blue;
    font-family: $btn-font;
    border-radius: 7px;
    width: 325px;
    height: 60px;
    @include flexSetUp;
    margin: auto;
    margin-top: 40px;
    letter-spacing: 2px;
    font-size: 26px;
    cursor: pointer;
}

@mixin filterBTN {
    color: $secondary-blue;
    background-color: $filter-bg;
    border-radius: 5px;
    font-family: $btn-font;
    font-size: 26px;
    text-transform: uppercase;
    height: 53px;
    padding: 0px 25px 2px 25px;
    cursor: pointer;
}

@mixin circleNUM {
    @include flexSetUp;
    font-family: $main-font;
    font-size: 28px;
    color: $circle-num;
    width: 75px;
    height: 75px;
    background-color: $white;
    border: 4px Solid $primary-blue;
    border-radius: 50%;
    box-shadow: 0px -0px 0px 9px $white, 2px 8px 20px 4px gray,;
    margin: 12px;
}

@mixin circleARROW {
    @include flexSetUp;
    width: 38px;
    height: 38px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0px 3px 10px  rgba(0,0,0,0.4);    
    position: absolute;
    z-index: 15;
    right: -19px;
    top: 43%;
}

@mixin watchVIDEO {
    width: 309px;
    height: 61px;
    color: $secondary-blue;
    background-color: $white;
    font-family: $btn-font;
    font-size: 26px;
    letter-spacing: 1.8px;
    @include flexSetUp;
    border-radius: 5px;
    padding-bottom: 2px;
    cursor: pointer;
}

@mixin weighBTN {
    width: 184px;
    height: 70px;
    color: $white;
    background-color: $secondary-blue;
    margin: 10px 10px 0px 0px;
    font-family: $body-font;
    font-size: 13px;
    @include flexSetUp;
    text-align: center;
    box-shadow: 0px 3px 10px  rgba(0,0,0,0.4);    
    cursor: pointer;
}
