
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


$main-font: 'Arvo', serif;
// $btn-font: "acumin-pro-condensed", sans-serif;
$btn-font: 'acumin-pro-extra-condensed', sans-serif;
$body-font: 'Open Sans', sans-serif;

$primary-blue: #1A2E5A;
$secondary-blue: #00539B;
$third-blue: #2C7EC6;
$fourth-blue: #41A7DF;
$text-gray: #D8D8D8;
$text-dark: #838383;
$bg-light: #F6F6F6;
$bg-dark: #E8E8E8;
$filter-bg: #EAEAEA;
$circle-gray: #747474;
$circle-num: #333333;
$white: #FFFFFF;
$opacity-blue: rgba(26,46,90,0.6);
$opacity-second: rgba(0,83,155,0.8);
$opacity-dark: rgba(26,46,90,0.9);
$opacity-white: rgba(255,255,255,0.8);
$opacity-white-half:rgba(255,255,255,0.5);



/* media query breakpoints */
$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "tablet":       768px,
  "desktop":      1248px,
  "desktop-wide": 1440px
);